[submodule "vimrc"]
	path = vimrc
	url = git@github.com:admire93/vimrc.git

[submodule "tmux.conf"]
	path = tmux.conf
	url = git@github.com:admire93/tmux.conf.git
[submodule "bashrc"]
	path = bashrc
	url = git@github.com:admire93/bashrc.git
